---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Georgia, serif;
$sec-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$brand-font-family: "Abril Fatface", "Times New Roman", serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     40px;

$text-color:       #191919;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: #c2c2c2;
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;
$text-width: 800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin min-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin range-query($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin text-underline-crop($background) {
    text-shadow:  .03em 0 $background,
                  -.03em 0 $background,
                  0 .03em $background,
                  0 -.03em $background,
                  .06em 0 $background,
                  -.06em 0 $background,
                  .09em 0 $background,
                  -.09em 0 $background,
                  .12em 0 $background,
                  -.12em 0 $background,
                  .15em 0 $background,
                  -.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
    background-image: linear-gradient($color-text, $color-text);
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% 95%;
}

@mixin text-selection($selection) {
    &::selection {
        @include text-underline-crop($selection);

        background: $selection;
    }

    &::-moz-selection {
        @include text-underline-crop($selection);

        background: $selection;
    }
}

@mixin link-underline($background, $text, $selection) {
    @include text-underline-crop($background);
    @include text-underline($background, $text);
    @include text-selection($selection);

    color: $text;
    text-decoration: none;

    *,
    *:after,
    &:after,
    *:before,
    &:before {
        text-shadow: none;
    }

    &:visited {
        color: $text;
    }

    &:hover {
        text-decoration: none;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
