---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ site.data['digital-services'].name }}</h1>

  {% for entry in site.data['digital-services'].entries %}
    <h2>{{ site.data[entry].name }}</h2>
    <ol class="post-list">
      {% for entry in site.data[entry].entries %}
        <li>
          <a href="{{ entry.url }}">{{ entry.name }} - {{ entry.url }}</a>
        </li>
      {% endfor %}
    </ol>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
