/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    color: $text-color;
    font-family: $brand-font-family;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &:visited {
        color: $text-color;
    }
}

.site-nav {
    font-family: $sec-font-family;
    float: right;
    line-height: 56px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Home
 */
.home {
    max-width: $text-width;
    margin: 0 auto;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-header {
    max-width: $text-width;
    margin: 0 auto 60px;
}

.page-heading {
    font-family: $brand-font-family;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.2;

    @include media-query($on-laptop) {
        font-size: 72px;
    }
}

.page-sub-heading {
    font-family: $sec-font-family;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    &:before {
        border-top: 1px solid $text-color;;
        content: '';
        display: block;
        width: 140px;
        margin: 0 auto 30px;
    }
}

.intro-text {
    font-size: 24px;

    @include media-query($on-laptop) {
        font-size: 20px;
    }
}

.sub-section__title {
    color: $text-color;

    &:visited {
        color: $text-color;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.resource-grid {
    margin-left: -$spacing-unit / 2;
    margin-right: -$spacing-unit / 2;

    @extend %clearfix;
}

.resource-col {
    margin-bottom: $spacing-unit / 2;
    padding: $spacing-unit / 2;
    border: 1px solid transparent;

    @include min-query($on-laptop - 1px) {
        float: left;
    }
}

@mixin resource-col-divider {
    border-right: 1px solid $grey-color-light;

    + .resource-col:target {
        border-left: 1px solid transparent;
    }
}

.resource-col-break {
    @include min-query($on-laptop - 1px) {
        clear: both;
    }
}

@include min-query($on-palm - 1px) {
    .resource-col-1-2 {
        width: -webkit-calc(50% - (#{$spacing-unit}) - 2px);
        width:         calc(50% - (#{$spacing-unit}) - 2px);
        float: left;
    }
    .resource-col-1-3 {
        width: -webkit-calc(50% - (#{$spacing-unit}) - 2px);
        width:         calc(50% - (#{$spacing-unit}) - 2px);
        float: left;
    }
}

@include min-query($on-laptop - 1px) {
    .resource-col-1-1 {
        width: -webkit-calc(100% - (#{$spacing-unit}) - 2px);
        width:         calc(100% - (#{$spacing-unit}) - 2px);
    }

    .resource-col-1-3 {
        width: -webkit-calc(33.33% - (#{$spacing-unit}) - 2px);
        width:         calc(33.33% - (#{$spacing-unit}) - 2px);
    }

    .resource-col-2-3 {
        width: -webkit-calc(66.66% - (#{$spacing-unit}) - 2px);
        width:         calc(66.66% - (#{$spacing-unit}) - 2px);
    }
}

.resources-list {
    @extend .resource-grid;

    list-style: none;
}

@-webkit-keyframes target-fade {
    0% { background-color: #ddd; }
    100% { background-color: transparent; }
}
@-moz-keyframes target-fade {
    0% { background-color: #ddd; }
    100% { background-color: transparent; }
}

.resource {
    @extend .resource-col;

    &:target {
        border-color: $grey-color-light;

        -webkit-animation: target-fade 3s 1;
        -moz-animation: target-fade 3s 1;
    }
}

.resource__books {
    @extend .resource-col-1-1;
}

.resource__writing,
.resource__tools {
    @extend .resource-col-2-3;

    @include min-query($on-laptop - 1px) {
        @include resource-col-divider;
    }
}

.resource__videos,
.resource__collections {
    @include range-query($on-palm - 1px, $on-laptop) {
        @include resource-col-divider;
    }
}

.resource-list {
    list-style: none;
    margin-left: 0;

    li {
        margin-bottom: 10px;
    }
}

.resource-list__books {
    @include min-query($on-palm - 1px) {
        -webkit-column-count: 2;
        -webkit-column-gap: $spacing-unit;
    }

    @include min-query($on-laptop - 1px) {
        -webkit-column-count: 3;
    }
}

.resource-list__writing,
.resource-list__tools {
    @include min-query($on-palm - 1px) {
        -webkit-column-count: 2;
        -webkit-column-gap: $spacing-unit;
    }
}

.resource__magazines,
.resource__podcasts,
.resource__videos,
.resource__slides,
.resource__collections,
.resource__ios-apps {
    @extend .resource-col-1-3;
}

.resource__podcasts {
    @include resource-col-divider;
}

.resource__podcasts,
.resource__ios-apps {
    @extend .resource-col-break;
}
